## Generators

In [1]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}") 
    l = []
    for i in range(1, n + 1):
        l.append( i ** 2 )
    return l

In [2]:
squares()

Generating squares from 1 to 100

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}") 
    for i in range(1, n + 1):
        yield i ** 2

In [21]:
squares()

In [22]:
for i in squares():
    print (i)

Generating squares from 1 to 100
1
4
9
16
25
36
49
64
81
100

In [14]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [13]:
%pip install matplotlib

Collecting matplotlib
  Using cached matplotlib-3.9.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Using cached contourpy-1.3.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Using cached fonttools-4.53.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (162 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /Users/kingnight/miniconda3/envs/myenv1/lib/python3.12/site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in /Users/kingnight/miniconda3/envs/myenv1/lib/python3.12/site-packages (from matplotlib) (24.1)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-10.4.0-cp312-cp312-macosx_11_0_arm64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/kingnight/miniconda3/envs/myenv1/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Users/kingnight/miniconda3/envs/myenv1/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Using cached matplotlib-3.9.2-cp312-cp312-macosx_11_0_arm64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp312-cp312-macosx_11_0_arm64.whl (251 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.53.1-cp312-cp312-macosx_11_0_arm64.whl (2.2 MB)
Downloading kiwisolver-1.4.7-cp312-cp312-macosx_11_0_arm64.whl (63 kB)
Using cached pillow-10.4.0-cp312-cp312-macosx_11_0_arm64.whl (3.4 MB)
Using cached pyparsing-3.1.4-py3-none-any.whl (104 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.53.1 kiwisolver-1.4.7 matplotlib-3.9.2 pillow-10.4.0 pyparsing-3.1.4
Note: you may need to restart the kernel to use updated packages.

In [15]:

import datetime

In [17]:
df = pd.read_csv("AAPL.csv")

In [18]:
df.head()

         date      open      high       low     close  adj_close     volume
0  1980-12-12  0.128348  0.128906  0.128348  0.128348   0.098943  469033600
1  1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093781  175884800
2  1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086898  105728000
3  1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089049   86441600
4  1980-12-18  0.118862  0.119420  0.118862  0.118862   0.091630   73449600

In [19]:
df.shape

(10853, 7)

In [20]:
df = df.sort_values(by=['date']).set_index('date')

In [21]:
df.head(10)

                open      high       low     close  adj_close     volume
date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.098943  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.093781  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.086898  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089049   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.091630   73449600
1980-12-19  0.126116  0.126674  0.126116  0.126116   0.097223   48630400
1980-12-22  0.132254  0.132813  0.132254  0.132254   0.101954   37363200
1980-12-23  0.137835  0.138393  0.137835  0.137835   0.106257   46950400
1980-12-24  0.145089  0.145647  0.145089  0.145089   0.111849   48003200
1980-12-26  0.158482  0.159040  0.158482  0.158482   0.122173   55574400

In [22]:
df['next_day_close_price']= df['close'].shift(-1)

In [ ]:
df['next_day_close_price']= df['close'].shift(-7)

In [23]:
df.head()

,open,high,low,close,adj_close,volume,next_day_close_price
date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.121652
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.112723
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.115513
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.118862
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.126116

In [27]:
df['return'] = df['next_day_close_price']/df['close'] - 1

In [25]:
df.head()

,open,high,low,close,adj_close,volume,next_day_close_price,return
date,,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.098943,469033600,0.121652,-0.052171
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.093781,175884800,0.112723,-0.073398
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.086898,105728000,0.115513,0.024751
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089049,86441600,0.118862,0.028992
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.091630,73449600,0.126116,0.061029

In [26]:
0.121652/0.128348-1

-0.052170661015364383